name: Node.js CI/CD

on:
  push:
    paths:
      - 'backend/**'
    branches: [ "main" ]
  pull_request:
    paths:
      - 'backend/**'
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Define o working directory DEPOIS do checkout
      - name: Setup defaults
        run: echo "defaults: run: working-directory=backend" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json

      - name: Install dependencies
        working-directory: backend
        run: npm ci

      - name: Run lint
        working-directory: backend
        run: npm run lint:fix

      - name: Run tests
        working-directory: backend
        run: npm test